# ==========================
# Visual Studio
# ==========================
.vs/
.vscode/

# ==========================
# Build
# ==========================
bin/
obj/
Debug/
Release/
x64/
x86/
AnyCPU/

# ==========================
# Arquivos do usuário
# ==========================
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================
# Cache do Visual Studio
# ==========================
*.VC.db
*.VC.opendb

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Pacotes NuGet
# ==========================
packages/
*.nupkg

# ==========================
# Arquivos temporários
# ==========================
*.tmp
*.temp
*.cache

# ==========================
# Rider / ReSharper
# ==========================
_ReSharper*/
*.DotSettings.user

# ==========================
# JetBrains Rider
# ==========================
.idea/

# ==========================
# Publicação
# ==========================
publish/

# ==========================
# Arquivos do sistema
# ==========================
Thumbs.db
Desktop.ini
.DS_Store